<div class="has-text-centered" *ngIf="isView()">
    <h1 class="title"> {{aluno.nome}}</h1>
    <h2 class="title"> {{aluno.idade}} anos.</h2>
    <h3> <i>{{aluno.id}}</i> </h3>
    <div class="card-image has-text-centered">
        <img class="image has-ratio is-inline-block" width="640" height="360" *ngIf="isAlunoFotoNullOrEmpty() == false" src="https://thispersondoesnotexist.com/image">
        <img class="image has-ratio is-inline-block" width="640" height="360" *ngIf="isAlunoFotoNullOrEmpty()" src="{{aluno.fotoUrl}}">
    </div>
</div>
<div class="has-text-centered" *ngIf="isView() == false">
    <app-cadastro-aluno [inputAluno]="aluno"></app-cadastro-aluno>
</div>